
<!DOCTYPE html>
<html lang="en">

<head>
  <title>HidroLogic</title><meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="../assets/maruti-login.css" />
</head>
<body>
<div id="logo">
  <img src="../assets/login-logo.png" alt="" />
</div>
<div id="loginbox">
  <form id="loginform" class="form-vertical">
    <div class="control-group normal_text"><h3>Bienvenido a HidroLogic</h3></div>

    <div class="control-group">

      <%= link_to image_tag("../assets/facebtn.png", :border => 0, :alt => '', :title => '', :style => 'margin-right: auto; margin-left: auto; display: block;'), "/auth/facebook", id: "sign_in" %>
    </div>

  </form>
</div>

<script src="../assets/jquery.min.js"></script>
<script src="../assets/maruti.login.js"></script>
</body>

</html>

